Source: nginx-airbnb
Section: httpd
Priority: optional
Maintainer: Pierre Carrier <pierre.carrier@airbnb.com>
Build-Depends: autotools-dev,
               debhelper (>= 9),
               pkg-config,
               libexpat-dev,
               libev-dev,
               libgd2-noxpm-dev,
               libgeoip-dev,
               libluajit-5.1-dev,
               libmhash-dev,
               libpcre3-dev,
               libssl-dev,
               libxslt1-dev,
               zlib1g-dev,
               libcurl4-openssl-dev,
               rake,
               ruby1.8-dev
Standards-Version: 3.9.3
Homepage: http://nginx.net
Vcs-Git: git://github.com/brightbox/deb-nginx.git
Vcs-Browser: https://github.com/brightbox/deb-nginx

Package: nginx-airbnb
Architecture: any
Section: httpd
Depends: lsb-base (>= 3.2-14), ${misc:Depends}, ${shlibs:Depends}
Provides: httpd
Replaces: nginx,
          nginx-common,
          nginx-extras,
          nginx-full,
          nginx-naxsi,
          nginx-light,
          passenger-common1.8,
          passenger-common1.9.1,
          passenger-common
Breaks: nginx,
        nginx-common,
        nginx-extras,
        nginx-full,
        nginx-naxsi,
        nginx-light,
        passenger-common1.8,
        passenger-common1.9.1,
        passenger-common
Description: nginx (airbnb version)
 Nginx ("engine X") is a high-performance web and reverse proxy server
 created by Igor Sysoev. It can be used both as a standalone web server
 and as a proxy to reduce the load on back-end HTTP or mail servers.

Package: nginx-airbnb-dbg
Architecture: any
Section: debug
Priority: extra
Depends: nginx-airbnb (= ${binary:Version}), ${misc:Depends}
Description: nginx (airbnb version) - debug symbols
 Nginx ("engine X") is a high-performance web and reverse proxy server
 created by Igor Sysoev. It can be used both as a standalone web server
 and as a proxy to reduce the load on back-end HTTP or mail servers.
 .
 This package provides debugging symbols for nginx, to assist in debugging
 issues that you may find. It should not be required for normal operation.
